[submodule "java/java-hyperskill/simple-chat-bot-with-java/java/java-hyperskill/my-first-project-with-java"]
	path = java/java-hyperskill/simple-chat-bot-with-java/java/java-hyperskill/my-first-project-with-java
	url = https://github.com/rzxq/my-first-project-with-java.git
