.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  background: dodgerblue;

  /* 1. box-shadow: x-offset y-offset blur-radius color */
  box-shadow: 10px 10px 30px grey;

  /* 2. Full element shadow */
  box-shadow: 0 0 30px grey;
}

h1 {
  color: white;
  /* 1. text-shadow: x-offset y-offset blur-radius color */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  /* 2. Semi-transparent black text shadow */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
