html {
    background: url(../images/bg.png);
    height: 1000px;
}

div {
    background-color: skyblue;
}

/*span {
	background-color: pink;
}*/
.big {
    width: 800px;
}

.middle {
    width: 400px;
}

.small {
    width: 200px;
}

#game {
    background-color: lightgreen;
}

h1 {
    color: green;
}

p {
    line-height: 2;
}

.role {
    font-weight: bold;
    color: green;
}

/*为a标记设置当鼠标悬浮时的样式，粗体，颜色变成灰色*/
a:hover {
    font-weight: bold;
    color: gray;
}













