div {
    background-color: skyblue;
}

.big {
    width: 800px;
}

.middle {
    width: 400px;
}

.small {
    width: 200px;
}

#game {
    background-color: lightgreen;
}

/*
为<body>设置居中，
为<h1>添加字体颜色为green，
为<span>添加下划线、字体粗细为bold、字体大小为18px、字体颜色为hotpink
*/
body {
    text-align: center;
}

h1 {
    color: green;
}

span {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    color: hotpink;
}


/*
为 <p>设置行高为2、首行缩进2em，
为class为role的元素设置字体粗细为bold、字体颜色为green
*/
p {
    line-height: 2;
    text-indent: 2em;
}

.role {
    font-weight: bold;
    color: green;
}









