* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.wrap {
    width: 200px;
    height: 105px;
    background-color: white;
    margin: 100px auto;
    border: 1px solid lightblue;
    padding: 20px;
    font-family: "微软雅黑";
}

p {
    font-size: 20px;
    color: gray;
    border-bottom: 1px dotted lightblue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}