table {
  border-collapse: collapse;
}

tr {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
}

td,
th {
  padding: 10px;
}

th {
  background-color: #427fef;
  color: white;
}

tr:nth-child(odd) {
  background-color: #eef7ff;
}

tfoot {
  text-align: left;
}
